@model VuaDoCau.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
@if (Model.ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}
<p>Đã có lỗi xảy ra.</p>